dashboard/flows.json
[{"id":"513261f6.9d261","type":"tab","label":"Client","disabled":false,"info":""},{"id":"7a5531d.9a3d95","type":"tab","label":"Websocket Server","disabled":false,"info":""},{"id":"35739ac5.e680a6","type":"websocket-listener","path":"/ws/receive","wholemsg":"false"},{"id":"a817b590.bab9d8","type":"websocket-client","path":"ws://localhost:1880/ws/receive","tls":"","wholemsg":"false"},{"id":"fe64b6c6.034958","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"baa0a472.80fa58","type":"mqtt-broker","name":"","broker":"mqtt.hfg.design","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ce06fd88.3b996","type":"websocket out","z":"7a5531d.9a3d95","name":"Websocket Out","server":"35739ac5.e680a6","client":"","x":1340,"y":400,"wires":[]},{"id":"8914d1a7.0eccf","type":"inject","z":"513261f6.9d261","name":"","props":[{"p":"payload"},{"p":"user","v":"hartmut","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":240,"wires":[["1c327302.980ded"]]},{"id":"c1ee4ff7.ead908","type":"websocket out","z":"513261f6.9d261","name":"","server":"","client":"a817b590.bab9d8","x":780,"y":160,"wires":[]},{"id":"a3a80a5c.20e298","type":"mqtt out","z":"513261f6.9d261","name":"","topic":"/laborwoche/hartmut","qos":"","retain":"","broker":"baa0a472.80fa58","x":740,"y":240,"wires":[]},{"id":"4e82e8b4.01e2c","type":"mqtt in","z":"7a5531d.9a3d95","name":"","topic":"/laborwoche/hartmut","qos":"2","datatype":"auto","broker":"baa0a472.80fa58","x":440,"y":260,"wires":[["1924bb18.18590d"]]},{"id":"a9a97723.210cb8","type":"debug","z":"7a5531d.9a3d95","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1310,"y":700,"wires":[]},{"id":"1c327302.980ded","type":"function","z":"513261f6.9d261","name":"","func":"let p = msg.payload;\n\nmsg.payload = {\n    time: p,\n    dummy: {\n        x: (Math.random() * 40).toFixed(3),\n        y: (Math.random() * 40).toFixed(3),\n        z: (Math.random() * 40).toFixed(3),\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":240,"wires":[["a3a80a5c.20e298","c1ee4ff7.ead908"]]},{"id":"67dcfa44.35541c","type":"mqtt in","z":"7a5531d.9a3d95","name":"","topic":"/laborwoche/noah","qos":"2","datatype":"auto","broker":"baa0a472.80fa58","x":450,"y":320,"wires":[["32c53fe5.4273e"]]},{"id":"6e547a78.7468f4","type":"mqtt in","z":"7a5531d.9a3d95","name":"","topic":"/laborwoche/marc","qos":"2","datatype":"auto","broker":"baa0a472.80fa58","x":450,"y":380,"wires":[["8ee28538.96097"]]},{"id":"b9d3645e.e3762","type":"mqtt in","z":"7a5531d.9a3d95","name":"","topic":"/laborwoche/marius","qos":"2","datatype":"auto","broker":"baa0a472.80fa58","x":450,"y":440,"wires":[["66f9b34a.e2dda4"]]},{"id":"841ea1e6.e0b82","type":"function","z":"7a5531d.9a3d95","name":"","func":"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":580,"wires":[["ce06fd88.3b996","a9a97723.210cb8"]]},{"id":"5facf892.863998","type":"mqtt in","z":"7a5531d.9a3d95","name":"","topic":"/laborwoche/vika","qos":"2","datatype":"auto","broker":"baa0a472.80fa58","x":440,"y":500,"wires":[["7ca6088a.5ff84"]]},{"id":"1924bb18.18590d","type":"function","z":"7a5531d.9a3d95","name":"","func":"let name = \"testuser_mqtt\";\n//if (Math.random() < 0.5) name = \"harald\";\n//if (Math.random() < 0.5) name = \"herbert\";\n\n\nmsg.payload = {user:name, origPayload:msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":260,"wires":[["841ea1e6.e0b82"]]},{"id":"32c53fe5.4273e","type":"function","z":"7a5531d.9a3d95","name":"","func":"msg.payload = {user:'noah', origPayload:msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":320,"wires":[["841ea1e6.e0b82"]]},{"id":"8ee28538.96097","type":"function","z":"7a5531d.9a3d95","name":"","func":"msg.payload = {user:'marc', origPayload:msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":380,"wires":[["841ea1e6.e0b82"]]},{"id":"66f9b34a.e2dda4","type":"function","z":"7a5531d.9a3d95","name":"","func":"msg.payload = {user:'marius', origPayload:msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":440,"wires":[["841ea1e6.e0b82"]]},{"id":"7ca6088a.5ff84","type":"function","z":"7a5531d.9a3d95","name":"","func":"msg.payload = {user:'vika', origPayload:msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":500,"wires":[["841ea1e6.e0b82"]]},{"id":"719bc9a0.7c13e","type":"mqtt in","z":"7a5531d.9a3d95","name":"","topic":"/laborwoche/lisa","qos":"2","datatype":"auto","broker":"baa0a472.80fa58","x":440,"y":560,"wires":[["b894d38d.98fea8"]]},{"id":"b894d38d.98fea8","type":"function","z":"7a5531d.9a3d95","name":"","func":"msg.payload = {user:'lisa', origPayload:msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":560,"wires":[["841ea1e6.e0b82"]]},{"id":"f8603251.f77c","type":"mqtt in","z":"7a5531d.9a3d95","name":"","topic":"/laborwoche/bianca","qos":"2","datatype":"auto","broker":"baa0a472.80fa58","x":450,"y":620,"wires":[["6bd69276.571914"]]},{"id":"6bd69276.571914","type":"function","z":"7a5531d.9a3d95","name":"","func":"msg.payload = {user:'bianca', origPayload:msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":620,"wires":[["841ea1e6.e0b82"]]},{"id":"5ba74ead.5e056","type":"mqtt in","z":"7a5531d.9a3d95","name":"","topic":"/laborwoche/luca","qos":"2","datatype":"auto","broker":"baa0a472.80fa58","x":440,"y":680,"wires":[["ad10573f.a1cff"]]},{"id":"ad10573f.a1cff","type":"function","z":"7a5531d.9a3d95","name":"","func":"msg.payload = {user:'luca', origPayload:msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":680,"wires":[["841ea1e6.e0b82"]]},{"id":"a71610c5.8c812","type":"mqtt in","z":"7a5531d.9a3d95","name":"","topic":"/laborwoche/robin","qos":"2","datatype":"auto","broker":"baa0a472.80fa58","x":450,"y":740,"wires":[["9c077b9c.71eef8"]]},{"id":"9c077b9c.71eef8","type":"function","z":"7a5531d.9a3d95","name":"","func":"msg.payload = {user:'robin', origPayload:msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":740,"wires":[["841ea1e6.e0b82"]]},{"id":"57c68fd6.21a74","type":"mqtt in","z":"7a5531d.9a3d95","name":"","topic":"/laborwoche/johannes","qos":"2","datatype":"auto","broker":"baa0a472.80fa58","x":460,"y":800,"wires":[["b200e71.9268c98"]]},{"id":"b200e71.9268c98","type":"function","z":"7a5531d.9a3d95","name":"","func":"msg.payload = {user:'johannes', origPayload:msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":800,"wires":[["841ea1e6.e0b82"]]},{"id":"c0462674.b795d8","type":"mqtt in","z":"7a5531d.9a3d95","name":"","topic":"/laborwoche/tobi","qos":"2","datatype":"auto","broker":"baa0a472.80fa58","x":440,"y":860,"wires":[["f9e27fee.33c8c8"]]},{"id":"f9e27fee.33c8c8","type":"function","z":"7a5531d.9a3d95","name":"","func":"msg.payload = {user:'tobi', origPayload:msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":860,"wires":[["841ea1e6.e0b82"]]},{"id":"3f302d98.34576a","type":"mqtt in","z":"7a5531d.9a3d95","name":"","topic":"/laborwoche/julian","qos":"2","datatype":"auto","broker":"baa0a472.80fa58","x":450,"y":920,"wires":[["7910c9df.7cd73"]]},{"id":"7910c9df.7cd73","type":"function","z":"7a5531d.9a3d95","name":"","func":"msg.payload = {user:'julian', origPayload:msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":920,"wires":[["841ea1e6.e0b82"]]},{"id":"f670585f.b43938","type":"mqtt in","z":"7a5531d.9a3d95","name":"","topic":"/laborwoche/katharina","qos":"2","datatype":"auto","broker":"baa0a472.80fa58","x":460,"y":980,"wires":[["f10432b6.ede3e8"]]},{"id":"f10432b6.ede3e8","type":"function","z":"7a5531d.9a3d95","name":"","func":"msg.payload = {user:'katharina', origPayload:msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":980,"wires":[["841ea1e6.e0b82"]]},{"id":"d931da6c.9fc878","type":"mqtt in","z":"7a5531d.9a3d95","name":"","topic":"/laborwoche/steve","qos":"2","datatype":"auto","broker":"baa0a472.80fa58","x":450,"y":1040,"wires":[["87931577.1fcad"]]},{"id":"87931577.1fcad","type":"function","z":"7a5531d.9a3d95","name":"","func":"msg.payload = {user:'steve', origPayload:msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":1040,"wires":[["841ea1e6.e0b82"]]},{"id":"aa0dc35f.3f321","type":"comment","z":"7a5531d.9a3d95","name":"","info":"While doing the workshop the data of the participants came through the mqtt server.\n\n","x":430,"y":80,"wires":[]},{"id":"7742e24d.d5f31c","type":"websocket in","z":"7a5531d.9a3d95","name":"Websocket in","server":"35739ac5.e680a6","client":"","x":310,"y":200,"wires":[["3df8ca1e.ea78d6"]]},{"id":"3df8ca1e.ea78d6","type":"function","z":"7a5531d.9a3d95","name":"","func":"\nreturn {payload: msg.payload};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":200,"wires":[["f3234b19.aaaea"]]},{"id":"f3234b19.aaaea","type":"function","z":"7a5531d.9a3d95","name":"","func":"let name = \"testuser_ws\";\n//if (Math.random() < 0.5) name = \"harald\";\n//if (Math.random() < 0.5) name = \"herbert\";\n\n\nmsg.payload = {user:name, origPayload:msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":200,"wires":[["841ea1e6.e0b82"]]}]