node-red/SerialClient.json
[{"id":"62ef6a1d.afd384","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ac554ede.adfb9","type":"serial in","z":"62ef6a1d.afd384","name":"","serial":"275ba2ed.279d2e","x":3840,"y":3680,"wires":[["4b2fbfee.f38b5"]]},{"id":"4b2fbfee.f38b5","type":"function","z":"62ef6a1d.afd384","name":"","func":"payload = {\n    violet: 0,\n    blue: 0,\n    green: 0,\n    yellow: 0,\n    orange: 0,\n    red: 0\n}\n\nlabels = [\"violet\",\"blue\",\"green\",\"yellow\",\"orange\",\"red\"]\n\ndataArray = msg.payload.split(\",\");\n\n\ndataArray.forEach((data, index) =>{\n    payload[labels[index]] = parseInt(data);\n})\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":4120,"y":3680,"wires":[["b5fee7dd.b30f58","45b09d14.3d3c34"]]},{"id":"b5fee7dd.b30f58","type":"websocket out","z":"62ef6a1d.afd384","name":"","server":"","client":"a817b590.bab9d8","x":4420,"y":3560,"wires":[]},{"id":"45b09d14.3d3c34","type":"debug","z":"62ef6a1d.afd384","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":4370,"y":3740,"wires":[]},{"id":"275ba2ed.279d2e","type":"serial-port","z":"","serialport":"/dev/tty.usbmodem4011301","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"a817b590.bab9d8","type":"websocket-client","z":"","path":"ws://localhost:1880/ws/receive","tls":"","wholemsg":"false"}]