node-red/WebSocketServer.json
[{"id":"55557786.2896c8","type":"tab","label":"Web Socket Server","disabled":false,"info":""},{"id":"fd56d556.4ea328","type":"websocket in","z":"55557786.2896c8","d":true,"name":"","server":"35739ac5.e680a6","client":"","x":320,"y":180,"wires":[["6281183b.089d38","88190a88.f546d8"]]},{"id":"8e2adf1a.a34f7","type":"websocket out","z":"55557786.2896c8","name":"","server":"35739ac5.e680a6","client":"","x":920,"y":180,"wires":[]},{"id":"420d1c63.a05244","type":"websocket in","z":"55557786.2896c8","d":true,"name":"","server":"","client":"a817b590.bab9d8","x":260,"y":440,"wires":[["f7ada27b.7bf5d"]]},{"id":"88190a88.f546d8","type":"debug","z":"55557786.2896c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":280,"wires":[]},{"id":"f7ada27b.7bf5d","type":"json","z":"55557786.2896c8","name":"","property":"payload","action":"","pretty":false,"x":530,"y":440,"wires":[["88190a88.f546d8"]]},{"id":"6281183b.089d38","type":"function","z":"55557786.2896c8","name":"","func":"\nreturn {payload: msg.payload};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":180,"wires":[["8e2adf1a.a34f7"]]},{"id":"c2f2beaf.f9aa","type":"function","z":"55557786.2896c8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":480,"wires":[[]]},{"id":"3190c724.94d2a8","type":"mqtt in","z":"55557786.2896c8","name":"visualization","topic":"/laborwoche/sensors","qos":"2","datatype":"auto","broker":"fe64b6c6.034958","x":310,"y":280,"wires":[["6281183b.089d38","88190a88.f546d8"]]},{"id":"35739ac5.e680a6","type":"websocket-listener","z":"","path":"/ws/receive","wholemsg":"false"},{"id":"a817b590.bab9d8","type":"websocket-client","z":"","path":"ws://localhost:1880/ws/receive","tls":"","wholemsg":"false"},{"id":"fe64b6c6.034958","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]